/* Home page: push the hex logo DOWN */
.template-home .page-header img.logo,
.template-home .page-header .logo {
  margin-top: 50px !important;  /* try 50px, 70px, 90px */
  display: block;
}

/* Home page: push the hex logo DOWN */
.template-home .page-header img.logo,
.template-home .page-header .logo {
  margin-top: 50px !important;  /* try 50px, 70px, 90px */
  display: block;
}
