/* Match logo blue */
.navbar .navbar-brand {
  color: #263494 !important;
  font-weight: 700;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #263494 !important;
}
.navbar .nav-link.active,
.navbar .nav-link:hover {
  color: #263494 !important;
}

/* Home page title color */
.template-home main h1 {
  color: #263494 !important;
}

/* Push home logo down */
.template-home .page-header img,
.template-home .page-header img.logo,
.template-home .page-header .logo img,
.template-home .page-header .logo {
  margin-top: 35px !important;  /* try 50px if you want lower */
  display: block;
}
